     body {
            font-family: 'Droid Sans', sans-serif;
            background-color: #FDF2DE;
            padding-top: 70px;

        }
        .header-title {
            font-family: 'Droid Serif', serif;
            font-size: 34px;
            color: #080808;
            text-shadow: 2px 2px 2px #A46D09;
        }
        a, a:visited, a:active {
            color: hsl(39, 85%, 27%);
            text-decoration: none;
        }
        a:hover {
            color: #000;
            text-decoration: none;
        }
        .mp-navbar {
            background-color: #ECEBD6;
        }
        #map-image img {
            margin: 2em auto;
        }
        .all-notice {
            border: 1px dotted #FFA500;
            margin: 2em;
            padding: 1em;
            font-size: 1.2em;
        }
